.search-dashboard-main-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #999;
    padding: 5px;
    margin: 5px;
    gap: 10px;
}

@media screen and (orientation: landscape) {
    .search-dashboard-main-wrapper {
        float: left;
        max-width: 20%;
        margin: 5px 1% 1% 2%;
        position: fixed;
    }
}